<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="StautZPage - Simple monitoring tool for URLs">
    <meta name="author" content="Carlos Augusto Malucelli - https://github.com/nopp/statuzpage">
    <link rel="icon" href="favicon.ico">
    <title>StautZPage - Simple monitoring tool for URLs</title>
    <link href="static/dist/css/bootstrap.css" rel="stylesheet">
    <link href="static/dist/css/bulma-timeline.css" rel="stylesheet">
    <link href="static/dist/css/statuzpage.css" rel="stylesheet">
    <link href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous" rel="stylesheet">
  </head>
  <body>
    <br>
    {% block body %}{% endblock %}
    {% include "footer.html" %}
  </body>
</html>