{% extends "base.html" %}
{% block body %}
<main role="main" class="ml-sm-auto px-4">
  {% if totalOpen != 0 %}
    <div class="alert alert-danger" role="alert">
      <b>Some systems are experiencing issues.</b>
    </div>
  {% else %}
    <div class="alert alert-success" role="alert">
      All Systems Operational
    </div>
    {% if totalClosed != 0 %}
      {% include "last.html" %}
    {% endif %}
  {% endif %}
  {% if lastincidents %}
  <div class="container-fluid">
    {% for incident in lastincidents %}
    <div class="card mb-1">
      <div class="card-body">
        <i class="far fa-circle faNOK"></i> <b>{{ incident['UrlName'] }}</b> - {{ incident['Message'] }} <b>started at</b> {{ incident['StartedAt']|formatdate }}
      </div>
    </div>
    {% endfor %}
  </div>
  {% endif %}
</main>
{% endblock %}